* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  position: relative;
}

/* intro section */

.intro {
  position: fixed;
  z-index: 5;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(7, 119, 87) 80%);
  transition: all 1s ease 0s;
  overflow: hidden;
}

.intro img {
  opacity: 0.2;
  background-position: center center;
  background-size: cover;
  width: 70vw;
}

.logoIntro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.welcomeLogo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.active {
  bottom: 0px;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;
}

.fade {
  bottom: 150px;
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
}

/* main section */

.topHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  top: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.menuBurger {
  display: none;
}
.closeMenu {
  display: none;
}
.topHeader nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

.topHeader nav a {
  font-size: 0.8rem;
  transition: all 0.3s ease 0s;
}

.topHeader .navButtons button {
  background: transparent;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0px 0px 0px 10px;
  padding: 5px 18px;
  cursor: pointer;
}

.navbar a,
.navButtons button a {
  text-decoration: none;
  color: white;
}

.topHeader .navButtons button:hover {
  background: white;
  color: rgb(7, 119, 87);
  transition: all 0.4s ease 0s;
}

.topHeader .navButtons button:hover a {
  color: rgb(7, 119, 87);
}

.topHeader nav ul {
  display: flex;
  list-style: none;
  font-size: 0.6rem;
  font-weight: 500;
  color: white;
  gap: 36px;
  padding-left: 115px;
}

header {
  display: flex;
  justify-content: end;
}

.topImageSlides {
  width: 72vw;
  min-height: 500px;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(209, 193, 122) 80%);
  overflow: hidden;
}

.topImageSlides h1 {
  color: rgb(7, 119, 87);
  position: absolute;
  top: 185px;
  left: 19vw;
}

.topImageSlides p {
  color: rgb(60, 60, 60);
  position: absolute;
  top: 270px;
  left: 19vw;
}

.topImageSlides .slide {
  position: relative;
  top: 100px;
  left: 100vw;
  width: 70vw;
  transition: all 1s ease 0s;
  animation: 80s ease-out 0s infinite normal forwards running myAnim;
}

@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-2deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(2deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

.topImageSlides input {
  display: none;
}

.topImageSlides .backBox {
  width: 100vw;
  height: 350px;
  background: rgb(243, 243, 243);
  position: absolute;
  top: 115px;
  left: 0px;
  z-index: -1;
}

.headerButton {
  position: absolute;
  left: 19vw;
  top: 365px;
  border: unset;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(7, 119, 87) 80%);
  color: white;
  border-radius: 40px;
  letter-spacing: 7px;
  padding: 15px 47px;
  font-size: 0.7rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 8px 2px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  animation: 7s ease 0s infinite normal forwards running buttonAnim;
}

@keyframes buttonAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.title {
  width: 550px;
  height: 130px;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(7, 119, 87) 80%);
  margin: 30px 0px;
  position: relative;
}

.title img:nth-child(2) {
  position: absolute;
  top: 75px;
  right: -2vw;
}

.title img:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 6vw;
}

.title img:nth-child(4) {
  position: absolute;
  top: -124px;
  left: 19vw;
}

.title img:nth-child(5) {
  position: absolute;
  top: -72px;
  left: 26vw;
  rotate: 55deg;
  width: 185px;
}

.title h2 {
  color: white;
  position: relative;
  left: 19vw;
  top: 40px;
}

.backBoxTitle {
  content: "";
  position: absolute;
  right: 0px;
  top: 560px;
  z-index: -1;
  width: 72vw;
  height: 140px;
  background: rgb(243, 243, 243);
}

.cart-items {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  min-height: 400px;
  margin: 70px 0px;
  gap: 20px;
}

.item-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgb(213, 211, 211) 0px 2px 6px 0px;
  width: 60vw;
}

.item-list img {
  width: 135px;
  margin: -10px -55px 10px;
}

.item-remove {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.total,
.total-items-cart {
  width: 60vw;
  text-align: right;
  margin-right: 10px;
  color: rgb(0, 0, 0);
}

.price,
.total-price {
  width: 60vw;
  text-align: right;
  margin-right: 10px;
  color: rgb(7, 119, 87);
}

.decoration-line {
  width: 60vw;
  height: 1px;
  background: rgb(217, 217, 217);
  margin: 5px 0px;
}

.checkoutBtn {
  border: unset;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(7, 119, 87) 80%);
  color: white;
  border-radius: 40px;
  padding: 10px 22px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.checkoutBtn:active {
  transform: scale(0.9);
}

.more-items {
  text-align: center;
  color: rgb(7, 119, 87);
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.item {
  position: relative;
  cursor: pointer;
}

.item h2 {
  font-size: 1.2rem;
  color: rgb(7, 119, 87);
}

.item-desc {
  color: rgb(0, 0, 0);
}

.item-price {
  color: rgb(7, 119, 87);
  margin: 10px;
}

.item:hover img:nth-child(1) {
  right: 10%;
}

.item:hover img:nth-child(2) {
  left: 35%;
}

.item img:nth-child(1) {
  position: relative;
  right: 0px;
  transition: all 1s ease 0s;
}

.item img:nth-child(2) {
  position: absolute;
  left: 26%;
  bottom: 35%;
  z-index: -1;
  transition: all 1s ease 0s;
}

.item input {
  width: 59px;
  border: unset;
  border-radius: 45px;
  padding: 6px 8px;
  color: white;
  text-align: center;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(7, 119, 87) 80%);
}

.item input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.itemBtn {
  border: unset;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(7, 119, 87) 80%);
  color: white;
  border-radius: 40px;
  padding: 7px 22px;
  margin: 7px 4px;
  font-size: 0.7rem;
  cursor: pointer;
}

.gift-card {
  display: none;
  width: 100%;
  min-height: 300px;
  background-image: url("img/giftcard1.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.gift-card img {
  position: absolute;
  top: -100px;
  left: -190px;
  z-index: 0;
  width: 600px;
  filter: contrast(4.5);
  opacity: 0.04;
}

.content {
  position: relative;
  width: 50%;
  padding: 70px 0px 70px 150px;
  z-index: 2;
}

.content p {
  font-size: 1rem;
  padding-top: 10px;
}

.gift-cart-btn {
  margin-top: 30px;
  border-radius: 20px;
  padding: 7px 19px;
  background: transparent;
  border: 2px solid black;
  font-size: 0.6rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.gift-cart-btn:hover {
  background: black;
  color: white;
}

.app {
  position: relative;
  width: 100%;
  height: 120px;
  background: linear-gradient(253deg, rgb(5, 172, 125) 16%, rgb(7, 119, 87) 80%);
}

.content-text {
  display: flex;
  justify-content: center;
  gap: 150px;
  height: 100%;
}

.apps-download {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.images-app div:first-of-type {
  position: relative;
  top: -25px;
}

.images-app div:last-of-type {
  position: relative;
  top: -135px;
  left: 47px;
  width: 180px;
  height: 100px;
}

.app img:nth-child(3) {
  position: absolute;
  bottom: 30px;
  right: 20vw;
  cursor: pointer;
}

.app img:nth-child(4) {
  position: absolute;
  bottom: 28px;
  right: 14.5vw;
  cursor: pointer;
}

.content-text p {
  left: -25vw;
  color: white;
  padding-top: 20px;
  font-size: 0.8rem;
}

/* Footer section */

footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  column-gap: 130px;
  /* margin: 0px 16vw; */
  align-items: start;
  color: rgb(133, 133, 133);
  line-height: 20px;
  min-height: 170px;
  padding-top: 30px;
}

.nav-block {
  flex: 0 1 auto;
}

.footer-navigation h3 {
  font-size: 0.9rem;
  color: rgb(98, 98, 98);
}

.footer-navigation p {
  font-size: 0.7rem;
}

.footer-navigation p a {
  text-decoration: none;
  color: rgb(169, 169, 169);
}

.footer-navigation img {
  transform: rotateZ(90deg);
  margin: 40px -70px;
}

.footerBtn {
  background: rgb(225, 225, 225);
  border: unset;
  border-radius: 20px;
  color: rgb(122, 122, 122);
  padding: 5px 15px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.footerBtn:hover {
  background: rgb(199, 199, 199);
}

.nation-btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.nation-btn img {
  margin: -3px 0;
}

.nation-change-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.bottom-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 65px;
  gap: 15%;
}

.social {
  display: flex;
  gap: 20px;
}

.footer-logo {
  position: relative;
}

.footer-logo img {
  position: absolute;
  bottom: -85px;
  right: 0px;
  z-index: -1;
  filter: contrast(9.5);
  opacity: 0.04;
}

@media (min-width: 320px) and (max-width: 575px) {
  .intro img {
    width: 200vw;
  }

  .topHeader {
    left: 0;
    transform: unset;
    top: 10px;
    padding: 15px 20px;
    justify-content: space-between;
    width: 100%;
    align-items: unset;
  }
  .topHeader nav {
    position: fixed;
    text-align: right;
    top: -10px;
    padding: 30px 20px 0 0;
    height: 110vh;
    background: #016b4d;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: 0.4s;
  }

  .topHeader nav ul {
    flex-direction: column;
  }
  .menuBurger {
    display: block;
    cursor: pointer;
  }
  .closeMenu {
    display: block;
    cursor: pointer;
    margin-right: 80%;
  }

  .topImageSlides h1 {
    font-size: 1.4rem;
    left: 5vw;
  }

  .topImageSlides p {
    left: 5vw;
    top: 245px;
  }
  .headerButton {
    left: 7vw;
    top: 320px;
    letter-spacing: 4px;
    padding: 12px 36px;
    font-size: 0.7rem;
  }
  .title {
    width: 100%;
  }
  .title h2 {
    left: 0;
    margin-left: 20px;
  }

  .title img:nth-child(2) {
    right: 0;
  }
  .title img:nth-child(3) {
    width: 200px;
    top: 30px;
  }
  .title img:nth-child(4) {
    left: -20px;
    width: 230px;
    top: -100px;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.8rem;
  }
  .checkoutBtn {
    padding: 8px 21px;
  }
  .content-text {
    justify-content: unset;
    gap: 0;
  }
  .content-text p {
    display: none;
  }
  .apps-download img {
    width: 150px;
    margin: 40px 0 40px 40px;
  }
  .slide img {
    width: 500px;
  }
  .topImageSlides .slide {
    top: 145px;
  }
  .bottom-option {
    gap: 0;
  }
  .item-list {
    width: 90vw;
    min-height: 120px;
  }
  .item-list img {
    width: 105px;
    margin: -10px -20px 10px -27px;
  }
  .item-details p {
    font-size: 0.6rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  .item-remove {
    font-size: 0.6rem;
    margin-right: 10px;
  }
  .item-quantity {
    font-size: 0.7rem;
    text-align: center;
  }
  .decoration-line {
    width: 90vw;
  }
  .total-price,
  .total-items-cart {
    width: 90vw;
  }
  .footer-navigation {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    justify-content: unset;
    margin-left: 40px;
    row-gap: 10px;
    column-gap: 0;
  }
  .footer-navigation img {
    margin: 0;
  }
  .footerLogo {
    grid-row: 1/3;
    grid-column: 3;
    margin-top: 40px;
  }
}
